{% extends 'base.html' %}

{% block content %}
<body>
    <table class="table">
        <tbody>
            <tr>
                <th scope="row">氏名：</th>
                <td id="name"></td>
            </tr>
            <tr>
                <th scope="row">部署：</th>
                <td id="department"></td>
            </tr>
            <tr>
                <th scope="row">住所：</th>
                <td id="address"></td>
            </tr>
            <tr>
                <th scope="row">電話番号：</th>
                <td id="phone"></td>
            </tr>
            <tr>
                <th scope="row">補足：</th>
                <td id="supplement"></td>
            </tr>
        </tbody>
    </table>
    <script>
    </script>
</body>
{% endblock content %}